---
title: "Tags"
layout: default
permalink: "/tags.html"
---

<div class="row listrecent">
  <div class="section-title col-md-12">
    <h2><span class="text-capitalize"><i class="fas fa-tags"></i> Tags</span></h2>
  </div>
  <!-- Reduce Height Responsively -->
  <style>
  </style>
  <div class="col-md-12">
    <div class="d-flex flex-wrap tags">
      {% assign tags_list = site.tags %}
      {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
      <a class="smoothscroll m-1" href="{{site.baseurl}}/tags#{{ tag | url_escape | strip | replace: ' ', '-' }}">
        {{ tag | camelcase }} ({{ site.tags[tag].size }})
      </a>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %}
      <a class="smoothscroll m-1" href="{{site.baseurl}}/tags#{{ tag[0] | url_escape | strip | replace: ' ', '-' }}">
        #{{ tag[0] | camelcase }} ({{ tag[1].size }})
      </a>
      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </div>
  </div>
  {% for tag in site.tags %}
  <div class="section-title col-md-12 mt-4">
    <h2 id="{{ tag[0] | replace: " "," -" }}">Tag <span class="text-capitalize">{{ tag[0] }}</span></h2>
  </div>
  {% assign pages_list = tag[1] %}
  {% for post in pages_list %}
  {% if post.title != null %}
  {% if group == null or group == post.group %}
  {% include postbox.html %}
  {% endif %}
  {% endif %}
  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
  {% endfor %}
</div>